.select-lan{
    cursor: pointer;
    
}
.lan ul li{
    display: block;
}
.lan ul li a :hover{
    color: #000;
}
.select-lan :before{
    content: "";
    display: block;
}
.lan{
    display: block;

}
.select-lan{
    padding: 0;
    margin: 0;
    
}