.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/SB1.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1-1 .u-text-1 {
  margin: 84px 400px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 25px 558px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 241px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/SB1.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1-2 .u-text-1 {
  margin: 96px 690px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/SB1.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1-3 .u-text-1 {
  margin: 98px 146px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 241px;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/SB1.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1-4 .u-text-1 {
  margin: 98px 66px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 241px;
  }
}.u-block-9858-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-9858-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 387px;
  right: auto;
}

.u-block-9858-4 {
  position: absolute;
  right: 0;
}