.navbar li {
  padding: 0px;
  margin: 0;
  display: inline;
  text-decoration: none;
  list-style-type: none;
}
.navbar li a {
  transition: all 0.3s;
}
.navbar li a:hover {
  color: rgb(235, 225, 225);
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline;
  color: navy;
}

li {
  border-right: 1px solid #bbb;
}

body {
  scroll-behavior: smooth;
}

.SC{
  width: 1000px;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: auto;
}

.SCO{
  width: 1000px;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}